{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load bulma_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
<section>
  <div class="container" style="margin-top:1.5em;">

    <div class="columns is-centered">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <h1 class="title">{% trans "Login" %}</h1>
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|bulma }}
              <button class="button is-warning is-fullwidth" type="submit">{% trans "Sign In" %}</button>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <br />
              <p class="is-size-7">By continuing, you agree to {{site.name}}'s Conditions of Use and Privacy Notice.</p>
              <a class="is-size-7" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            <p class="is-size-7"> Sign in with
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}. Or,
              <!-- <div class="login-or">{% trans 'or' %}</div> -->{% blocktrans with site.name as site_name %} <a
                href="{{ signup_url }}">Sign up</a>
              for a {{ site_name }} account.{% endblocktrans %}</p>
            {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="hero">
    <div class="hero-body">

    </div>
  </div>
</section>

{% endblock %}