<div class="card-table">
    <table class="table is-fullwidth is-bordered is-hoverable is-striped">
        <tbody>
            <thead>
                <tr>
                    <th>Item sku</th>
                    <th>Item title</th>
                    <th>Image</th>
                    <th>Item quantity</th>
                    <th>Item final Price</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>

            {% for item in order.items.all %}
            <tr>
                <td>{{item.ordered_item.sku}}</td>
                <td>{{item.ordered_item.title}}</td>
                <td width="9%"><img src="{{item.ordered_item.image.url}}" alt=""></td>
                <td>{{item.quantity}}</td>
                <td>{{item.get_final_price_o}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>