{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'css/bulma.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <style type="text/css">
    /* body {
      background-color: grey;
    } */
  </style>
</head>



<body>
  {% include "navbar.html" %}
  {% if messages %}
  <article class="message">
    {% for message in messages %}
    <div class="message-body  has-text-white has-background-{{message.tags}}">
      {{ message|title }}
    </div>
    {% endfor %}
  </article>
  {% endif %}

  {% block content %}
  {% endblock content %}

  {% block extra_body %}
  {% endblock %}

  {% include "footer.html" %}
  {% include "scripts.html" %}

  {% block extra_scripts %}
  {% endblock extra_scripts %}


</body>

</html>