{% extends "base.html" %}

{% block content %}


<!--Navbar-->

<!--/.Navbar-->
<!-- Product List -->

<section style="margin-bottom:1em;">
  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Essential Items
      </header>
      <div class='carousel is-6 carousel-animated carousel-animate-slide'>
        <div class='carousel-container'>
          {% for item in object_list %}
          <div class='carousel-item is-active'>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child">
                  <figure class="image is-4by3">
                    <img src="{{item.image.url}}" alt="Placeholder image" style="max-height:120x;">
                  </figure>
                  <p class="is-size-7 has-text-weight-bold">{{item.title}}</p>
                  <strong>
                    {% if item.discount_price %}
                    <p class="has-text-danger is-size-7">${{ item.discount_price }}&nbsp;&nbsp;<del
                        class="has-text-black">${{item.price}}</del></p>
                    {% else %}
                    <p class="is-size-7 has-text-black">${{ item.price }}</p>
                    {% endif %}
                  </strong>
                  <p class="is-size-7 has-text-success">Fresh</p>
                  </strong></p>
                  <p>{% if item.stock_quantity %}
                    <a href="{{ item.get_add_to_cart_url }}" class="button is-small is-warning">
                      Add to cart
                    </a>
                    {% else %}
                    <a class="button is-small has-background-white-ter">
                      Out of stock
                    </a>
                    {% endif %}
                  </p>
                </article>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="carousel-navigation is-centered">
          <div class="carousel-nav-left">
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="carousel-nav-right">
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Dairy Products -->
<section style="margin-bottom:1em;">
  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Dairy, Cheese & Eggs
      </header>
      <div class='carousel is-6 carousel-animated carousel-animate-slide'>
        <div class='carousel-container'>
          {% for item in object_list %}
          <div class='carousel-item is-active'>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child">
                  <figure class="image is-4by3">
                    <img src="{{item.image.url}}" alt="Placeholder image" style="max-height:120x;">
                  </figure>
                  <p class="is-size-7 has-text-weight-bold">{{item.title}}</p>
                  <strong>
                    {% if item.discount_price %}
                    <p class="has-text-danger is-size-7">${{ item.discount_price }}&nbsp;&nbsp;<del
                        class="has-text-black">${{item.price}}</del></p>
                    {% else %}
                    <p class="is-size-7 has-text-black">${{ item.price }}</p>
                    {% endif %}
                  </strong>
                  <p class="is-size-7 has-text-success">Fresh</p>
                  </strong></p>
                  <p>{% if item.stock_quantity %}
                    <a href="{{ item.get_add_to_cart_url }}" class="button is-small is-warning">
                      Add to cart
                    </a>
                    {% else %}
                    <a class="button is-small has-background-white-ter">
                      Out of stock
                    </a>
                    {% endif %}
                  </p>
                </article>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="carousel-navigation is-centered">
          <div class="carousel-nav-left">
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="carousel-nav-right">
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section: Products v.3-->
<section class="hero-body">

</section>
<!--Pagination-->




{% endblock content %}{% if is_paginated %}
<nav class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">

    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}

    <li class="page-item active">
      <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
        <span class="sr-only">(current)</span>
      </a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}