{% extends 'layout.html' %}
{% block content %}
<div class="columns">
    <div class="column">
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="columns">
                    <div class="column">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="is-2">{{total_orders}} Total Orders</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="is-2">{{total_products}} Total Products</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="is-2">{{total_active_orders}} Active Orders</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="is-2">{{total_customers }} Total Customers</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="column is-10">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Graph
                    </h1>
                    <h2 class="subtitle">
                        I hope you are having a great day!
                    </h2>
                </div>
            </div>
        </section>

    </div>
</div>

<div class="columns">
    <div class="column ">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Orders - Last 24 hrs
                </p>
                <!-- <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a> -->
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                        <tbody>
                            <tr>
                                <td>Total Orders</td>
                                <td class="level-right">{{ total_orders }}</td>
                            </tr>
                            <tr>
                                <td>Total lines</td>
                                <td class="level-right">{{ total_orders }}</td>
                            </tr>
                            <tr>
                                <td>Total Revenue</td>
                                <td class="level-right">{{ total_orders }}</td>
                            </tr>
                            <tr>
                                <td>Average order costs</td>
                                <td class="level-right">{{ total_orders }}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">View All</a>
            </footer>
        </div>
    </div>
    <div class="column ">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Orders - All time
                </p>
                <a href="{% url 'dashboard:order_list' %}" class="card-header-icon" aria-label="more options">
                    <button class="button">
                        <span class="icon">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </span>
                        <span>Manage</span>
                    </button>
                </a>
            </header>
            <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                <tbody>
                    <tr>
                        <td>Total Orders</td>
                        <td class="level-right">{{ total_orders }}</td>
                    </tr>
                    <tr>
                        <td>Total lines</td>
                        <td class="level-right">{{ total_orders }}</td>
                    </tr>
                    <tr>
                        <td>Total Revenue</td>
                        <td class="level-right">${{ total_revenue }}</td>
                    </tr>
                    <tr>
                        <td>Average order costs</td>
                        <td class="level-right">{{ total_orders }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    User Search
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-large" type="text" placeholder="">
                        <span class="icon is-medium is-left">
                            <i class="fa fa-search"></i>
                        </span>
                        <span class="icon is-medium is-right">
                            <i class="fa fa-check"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column ">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Customers
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-table">
                <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                    <tbody>
                        <tr>
                            <td>Total Customers</td>
                            <td class="level-right">{{ total_customers }}</td>
                        </tr>
                        <tr>
                            <td>New Customers</td>
                            <td class="level-right">{{ total_orders }}</td>
                        </tr>
                        <tr>
                            <td>Total Open baskets</td>
                            <td class="level-right">{{ total_orders }}</td>
                        </tr>
                        <tr>


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock content %}