<!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.8.2-->
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" /> -->
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </style>
</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="{% url 'dashboard:dashboard'%}">
                My Inventory
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <!-- <a class="navbar-item" href="{% url 'dashboard:dashboard' %}">Dashboard</a> -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <i class="fa fa-list" aria-hidden="true"></i>&nbsp;Catalogue
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'dashboard:product_list' %}">
                            Products
                        </a>
                        <a class="navbar-item">
                            Ecom Api
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; Fullfilment
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'dashboard:order_list' %}">
                            Order
                        </a>
                        <a class=" navbar-item">
                            Statistics
                        </a>
                        <a class="navbar-item">
                            Partners
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <i class="fa fa-users" aria-hidden="true"></i>&nbsp; Customers
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'dashboard:order_list' %}">
                            Customers list
                        </a>
                        <a class=" navbar-item">
                            Stock Alerts
                        </a>
                    </div>
                </div>

                <a class="navbar-item" href="{% url 'dashboard:refund_list' %}">Refund</a>
                <a class="navbar-item">Vouchers</a>
                <a class="navbar-item">Orders</a>
                <a class="navbar-item">Reports</a>
            </div>



        </div>
    </nav>
    <br /><br />
    <!-- END NAV -->
    <div class="container">
        {% if messages %}
        <article class="message">
            {% for message in messages %}
            <div class="message-body  has-background-{{message.tags}}">
                {{ message }}
            </div>
            {% endfor %}
        </article>
        {% endif %}
        {% block content %}

        {% endblock content %}

    </div>
    <footer class="footer has-background-black" style="margin-top:10em;">
        <div class="content has-text-centered">
            <p>
                <strong>Grocery Shop</strong> The source code is
                licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>

    <script async type="text/javascript" src="{% static 'js/bulma.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>

</body>

</html>