<!DOCTYPE html>{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.8.2-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css'%}">
</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-white">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="../index.html">
                Bulma Admin
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                <a class="navbar-item">Catalogue</a>
                <a class="navbar-item">Content</a>
                <a class="navbar-item">Reviews</a>
                <a class="navbar-item">Communications</a>
                <a class="navbar-item">Offers</a>
                <a class="navbar-item">Vouchers</a>
                <a class="navbar-item">Orders</a>
                <a class="navbar-item">Reports</a>
            </div>

        </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
        <div class="columns" style="">
            <div class="column is-fullwidth">
                <!-- <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="../">Bulma</a></li>
                        <li><a href="../">Templates</a></li>
                        <li><a href="../">Examples</a></li>
                        <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
                    </ul>
                </nav> -->
                {% block content %}
                {% endblock content %}
            </div>
        </div>

    </div>

    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>