{%  extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="title is-3">Order Number: #{{order.id}}</h1>
    <!-- Order information -->
    <div class="card events-card has-background-white-ter">
        <header class="card-header">
            <p class="card-header-title">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;
                Order Details
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </a>
        </header>

        <div id="tabs-with-content">
            <div class="tabs is-centered">
                <ul>
                    <li><a>Order</a></li>
                    <li><a>Shipping</a></li>
                    <li><a>Payment</a></li>
                    <li><a>Discount</a></li>
                </ul>
            </div>
            <div>
                <section class="tab-content">
                    {% include 'order_detail_components/order_view.html' %}
                </section>
                <section class="tab-content">{% include 'order_detail_components/order_shipping.html' %}</section>
                <section class="tab-content">{% include 'order_detail_components/order_payment.html' %}</section>
                <section class="tab-content">Documents content</section>
            </div>
        </div>




    </div>
    <br />
    <!-- Customer information -->
    <div class="card events-card has-background-white-ter">
        <header class="card-header">
            <p class="card-header-title">
                <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
                Customer Details
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </a>
        </header>
        <div class="card-table">
            <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                <tbody>
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>{{order.user}}</td>
                        <td>{{order.user.email}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br />
    <div class="card events-card has-background-white-ter">
        <header class="card-header">
            <p class="card-header-title">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;
                Order Information
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </a>
        </header>
        <div class="card-table">
            <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                <tbody>
                    <thead>
                        <tr>
                            <th>Order Total</th>
                            <th>Date Of purchase</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>${{order.get_total}}</td>
                        <td>{{order.ordered_date}}</td>
                        <td>{{order.get_status}}</td>
                    </tr>
                    </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    <br />

</div>



{% endblock content %}


<div class="card-content">
    <div class="content">
        <table class="table is-fullwidth is-bordered is-hoverable is-striped">
            <tbody>
                <thead>
                    <tr>
                        <th></th>
                        <th>order id</th>
                        <th>Order Total</th>
                        <th>Status</th>
                        <th>Shipping Address</th>
                        <th>Date Of Purchase</th>
                        <th>Details</th>

                    </tr>
                </thead>
                <tr>
                    <td><input class="checkbox" type="checkbox" value="{{order.id}}" name="order_id" size="1" />
                    </td>
                    <td width="5%">#{{order.id}}</td>
                    <td>${{order.get_total}}</td>

                    <td class="level-right">
                        {% if order.get_status == "Ordered"%}
                        <a class="button is-small is-warning" href="#">{{order.get_status}}</a>
                        {% elif order.get_status == "Delivered"%}
                        <a class="button is-small is-success" href="#">{{order.get_status}}</a>
                        {% elif order.get_status == "Sent for delivery"%}
                        <a class="button is-small is-info" href="#">{{order.get_status}}</a>

                        {% endif %}
                    </td>
                    <td> {{order.shipping_address.apartment_address}},
                        {{order.shipping_address.street_address }}
                        {{order.shipping_address.zip}}</td>
                    <td> {{order.ordered_date}} </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>